html, body {
    margin: 0;
    min-height: 100%;
}
body {
    position: relative; 
    padding: 30px;
    background: #fff;
}
#Opponent {
	float: right;
	width: 25%;
}
#UserChampion {
	float: left;
	width: 25%;
}
.Champions {
	display: inline-block;
}
nav{
	background-color: #ff0000;
	}
nav a{
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
}
title{
	font-size: 50px;
}

#about{
	font-size: 40px;
}

#help{
	font-size: 40px;
}

#donate{
	font-size: 40px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}
#selectLevel {
	width: 300px;
}
#displayLevel{
	width: 30px; 
	height: 15px;
}
#MidSection {
	float: center;
	width: 50%;
}
table {
	width: 100%;
	margin: 0 auto;
}
#ItemsTable {
	height: 224px;
}
#UserTable {
	margin-top: 0;
	height: 224px;
}
#MasterRune {
	height: 100px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}
.modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}

