@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require jquery-ui
*/

.inventory {
	ul {
		list-style-type: none;
		li {
			display: block;
			float: left;
		}
	}
}
.user_champion_select {
	ul {
		list-style-type: none;
		li {
			display: block;
			float: left;
			img {
				width: 80px;
				height: 80px;
			}
		}
	}
}
.modal-body {
	overflow: scroll;
	height: 450px;
}
.modal-header {

	input {
		height: 100%;
	}
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

table {
	tr {
		max-height: 30px;
		.wordstats {
			min-width: 85px;
		}
		.numberstats {
			min-width: 52px;
		}
		td {
			text-align: center;
		}
	}
}


/* Wireframe */
#fullWrap {
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}

.attackSide, .defenseSide{
	float: left;
	height: 100%;
	width: 225px;
	.championSelect {
		width: 225px;
		height: 400px;
		.loadingImage {
			width: 225px;
			height: 400px;
		}
	}
	.levelSelector {
		width: 100%;
		height: 50px;
		border: solid black 1px;
	}
	.btn {
		width: 225px;
		margin-top: 5px;
	}
}

.centerPiece{
	float: left;
	width: 550px;
	height: 100%;
	.stats{
		float: left;
		width: 50%;
		height: 450px;
	}
	#attackInventory{
			float: left;
			border: solid black 1px;
			width: 50%;
			height: 150px;
		}
	#defenseInventory{
			float: left;
			border: solid black 1px;
			width: 50%;
			height: 150px;
		}
}

#attackStats{
	border: solid black 1px;
}

#defenseStats{
	border: solid black 1px;
}
/* Misc. */
.spacer{
	margin: 0 auto;
}