<table class="table table-condensed table-bordered">
	<thead>
		<tr><th class="statHeader" style="vertical-align: middle" colspan="4">Attacking Champion Stats</th></tr>
	</thead>
	<tbody>
		<tr>
			<td class="wordstats">HP5</td><td class="numberstats" id="OppHPRegen">{{attackChampion.stats.hpregen | number:3}}</td>
			<td class="wordstats">MP5</td><td class="numberstats" id="OppManaRegen">{{attackChampion.stats.mpregen | number:3}}</td>
		</tr>
		<tr>
			<td class="wordstats">Attack Dmg.</td><td class="numberstats" id="OppAttackDamage">{{attackChampion.stats.attackdamage | number:3}}</td>
			<td class="wordstats">Ability Power</td><td class="numberstats" id="OppAbilityPower">{{0 | number:3}}</td>
		</tr>
		<tr>
			<td class="wordstats">Armor Pen</td><td id="OppArmorPenetration">{{0 | number:3}}</td>
			<td class="wordstats">Magic Pen</td><td class="numberstats" id="OppMagicPenetration">{{0 | number:3}}</td>
		</tr>
		<tr>
			<td class="wordstats">Life Steal</td><td class="numberstats" id="OppLifeSteal">{{attackChampion.stats.lifesteal | number:3}}</td>
			<td class="wordstats">Spell Vamp</td><td class="numberstats" id="OppSpellVamp">{{attackChampion.stats.spellvamp | number:3}}</td>
		</tr>
		<tr>
			<td class="wordstats">Attack Spd.</td><td class="numberstats" id="OppAttackSpeed">{{attackChampion.stats.attackspeed | number:3}}</td>
			<td class="wordstats">CDR</td><td class="numberstats" id="OppCooldownReduction">{{attackChampion.stats.cooldownreduction | number:3}}</td>
		</tr>
		<tr>
			<td class="wordstats">Crit Chance</td><td class="numberstats" id="OppCriticalChance">{{attackChampion.stats.crit | number:3}}</td>
			<td class="wordstats">Armor</td><td class="numberstats" id="OppArmor">{{attackChampion.stats.armor | number:3}}</td>
		</tr>
		<tr>
			<td class="wordstats">Crit Damage</td><td class="numberstats" id="OppCriticalDamage">{{attackChampion.stats.criticaldamage | number:3}}</td>
			<td class="wordstats">Magic Resist</td><td class="numberstats" id="OppMagicResist">{{attackChampion.stats.spellblock | number:3}}</td>
		</tr>
		<tr>
			<td class="wordstats">Range</td><td class="numberstats" id="OppRange">{{attackChampion.stats.attackrange | number:3}}</td>
			<td class="wordstats">Movement</td><td class="numberstats" id="OppMovementSpeed">{{attackChampion.stats.movespeed | number:3}}</td>
		</tr>
	</tbody>
</table>
