<!-- Attack Champion Inventory Modal -->
<div class="modal fade" id="attackChampionInventory" tabindex="-1" role="dialog" aria-labelledby="attackChampionModalLabel" ng-cloak>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <input class="modal-title" id="attackChampionModalLabel" type="text" ng-model="itemQuery">
      </div>
      <div class="modal-body contentWrapper">
        <div>
        <h2><a href="#">Gadgets</a></h2>
          <div>
            <ul>
              <li ng-repeat='item in items' ng-show="item.name" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="items" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">{{item.name}}</li>
            </ul>
          </div>
        </div>
        <div id="cart">
            <h1 class="ui-widget-header">Shopping Cart</h1>
            <div class="ui-widget-content">
                <ol data-drop="true" ng-model='attackChampion.items' jqyoui-droppable="{multiple:true}">
                    <li ng-repeat="item in attackChampion.items track by $index" ng-show="item.name" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="attackChampion.items" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.name}}</li>
                    <li class="placeholder" ng-hide="hideMe()">Add your items here</li>
                </ol>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>