<!-- Attack Champion Inventory Modal -->
<script type="text/javascript">
</script>
<div class="modal fade" id="attackChampionInventory" tabindex="-1" role="dialog" aria-labelledby="attackChampionModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <input class="modal-title" id="attackChampionModalLabel" type="text" ng-model="itemQuery">
      </div>
      <div class="modal-body">
        <div class="attackChampionInventoryContainer inventoryContainer">
          <table class="inventory" border="1">
            <tbody>
              <tr>
                <td><div class="droppable ui-droppable"></div></td>
                <td><div class="droppable ui-droppable"></div></td>
                <td><div class="droppable ui-droppable"></div></td>
              </tr>
              <tr>
                <td><div class="droppable ui-droppable"></div></td>
                <td><div class="droppable ui-droppable"></div></td>
                <td><div class="droppable ui-droppable"></div></td>
              </tr>
              <tr>
                <td class="dragon"></td>
                <td><div class="droppable ui-droppable"></div></td>
                <td class="baron"></td>
              </tr>
            </tbody>
          </table>  
        </div>
        <div class="itemsContainer">
          <ul>
            <li ng-repeat="item in items | filter: itemQuery">
              <img ng-attr-src="{{item.image_url}}" class="hvr-grow draggable ui-draggable">
            </li>
          </ul>  
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>