<table class="stats" border="1">
	<tbody>
		<tr>
			<td class="wordstats">HP5</td>
			<td class="numberstats" id="OppHPRegen"></td>
			<td class="wordstats">MP5</td>
			<td class="numberstats" id="OppManaRegen"></td>
		</tr>
		<tr>
			<td class="wordstats">Attack Dmg.</td>
			<td class="numberstats" id="OppAttackDamage"></td>
			<td class="wordstats">Ability Power</td>
			<td class="numberstats" id="OppAbilityPower"></td>
		</tr>
		<tr>
			<td class="wordstats">Armor Pen</td>
			<td id="OppArmorPenetration">0 | 0%</td>
			<td class="wordstats">Magic Pen</td>
			<td class="numberstats" id="OppMagicPenetration">0 | 0%</td>
		</tr>
		<tr>
			<td class="wordstats">Life Steal</td>
			<td class="numberstats" id="OppLifeSteal"></td>
			<td class="wordstats">Spell Vamp</td>
			<td class="numberstats" id="OppSpellVamp"></td>
		</tr>
		<tr>
			<td class="wordstats">Attack Spd.</td>
			<td class="numberstats" id="OppAttackSpeed"></td>
			<td class="wordstats">CDR</td>
			<td class="numberstats" id="OppCooldownReduction"></td>
		</tr>
		<tr>
			<td class="wordstats">Crit Chance</td>
			<td class="numberstats" id="OppCriticalChance"></td>
			<td class="wordstats">Armor</td>
			<td class="numberstats" id="OppArmor"></td>
		</tr>
		<tr>
			<td class="wordstats">Crit Damage</td>
			<td class="numberstats" id="OppCriticalDamage"></td>
			<td class="wordstats">Magic Resist</td>
			<td class="numberstats" id="OppMagicResist"></td>
		</tr>
		<tr>
			<td class="wordstats">Range</td>
			<td class="numberstats" id="OppRange"></td>
			<td class="wordstats">Movement</td>
			<td class="numberstats" id="OppMovementSpeed"></td>
		</tr>
	</tbody>
</table>