<!-- Defense Champion Masteries Modal -->
<div class="modal fade" id="defendChampionMasteries" tabindex="-1" role="dialog" aria-labelledby="defendChampionMasteriesLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <input class="modal-title" id="defendChampionMasteriesLabel" type="text" ng-model="query" placeholder="Champion Search">
      </div>
      <div class="modal-body">
        <%=image_tag "masteries.png", :class => "masteryPage"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>