<div ng-controller="ChampionCtrl">
	<%= render :partial => "attack_champion_modal"%>
	<%= render :partial => "defend_champion_modal"%>
	<!-- Item Box -->
	<div id="fullWrap">
		<!-- Attack Side -->
		<div class="attackSide">
			<!-- Champion Select -->
			<div class="championSelect" data-toggle="modal" data-target="#attackChampionModal">
				<img ng-attr-src="{{attackChampion.prfile_image_url}}" ng-if="attackChampion">
			</div>
			<!-- Level Slider -->
			<div class="levelSelector">
				<h4 class="spacer">Level Slider</h4>
			</div>
			<!-- Stat Table -->
			<div class="stats">
				<h4 class="spacer">Attack Stats</h4>
			</div>
		</div>

		<!-- Center -->
		<div class="centerPiece">
			<div id="itemBox"> <!-- Each Item Picture should be 55px -->
				<h4 class="spacer">Items go here (55px per Item box)</h4>
			</div>

			<div id="inventories">
				<div id="attackInventory">
					<h4 class="spacer">Attack Inventory</h4>
				</div>
				<div id="defenseInventory">
					<h4 class="spacer">Defense Inventory</h4>
				</div>
			</div>
		</div>

		<!-- Defense Side -->
		<div class="defenseSide" >
			<!-- Champion Select -->
			<div class="championSelect" data-toggle="modal" data-target="#defendChampionModal">
				<img ng-attr-src="{{defendChampion.prfile_image_url}}" ng-if="defendChampion">
			</div>
			<!-- Level Slider -->
			<div class="levelSelector">
				<h4 class="spacer">Level Slider</h4>
			</div>
			<!-- Stat Table -->
			<div class="stats">
				<h4 class="spacer">Attack Stats</h4>
			</div>
		</div>
	</div>
</div>
<div ng-controller="ChampionCtrl">
	<!-- Item Box -->
	<div id="fullWrap">
		<!-- Attack Side -->
		<div class="attackSide">
			<!-- Champion Select -->
			<div class="championSelect">
				<h4 class="spacer">Champion Select</h4>
			</div>
			<!-- Level Slider -->
			<div class="levelSelector">
				<h4 class="spacer">Level Slider</h4>
			</div>
			<!-- Runes Button -->
			<button type="button" class="btn btn-primary btn-lg">
				Runes
			</button>
			<!-- Masteries Button -->
			<button type="button" class="btn btn-primary btn-lg">
				Masteries
			</button>
			<!-- Stat Table -->
		</div>

		<!-- Center -->
		<div class="centerPiece">
			<!-- Attack Stats -->
			<div class="stats" id="attackStats">
				<h4 class="spacer">Attack Stats</h4>
			</div>

			<!-- Defense Stats -->
			<div class="stats" id="defenseStats">
				<h4 class="spacer">Defense Stats</h4>
			</div>

			<!-- Attack Inventory -->
			<div>
				<h4 class="spacer" id="attackInventory">Attack Inventory (will act as a button to a popup window)</h4>
			</div>

			<!-- Defense Inventory -->
			<div>
				<h4 class="spacer" id="defenseInventory">Defense Inventory (will act as a button to a popup window)</h4>
			</div>
		</div>

		<!-- Defense Side -->
		<div class="defenseSide">
			<!-- Champion Select -->
			<div class="championSelect">
				<h4 class="spacer">Champion Select</h4>
			</div>
			<!-- Level Slider -->
			<div class="levelSelector">
				<h4 class="spacer">Level Slider</h4>
			</div>

			<!-- Rune Button -->
			<button type="button" class="btn btn-primary btn-lg">
				Runes
			</button>

			<!-- Masteries Button -->
			<button type="button" class="btn btn-primary btn-lg">
				Masteries
			</button>
		</div>

	</div>
</div>