<div ng-controller="ChampionCtrl">
	<!-- Attack Champion Select Modal -->
	<div class="modal fade" id="attackChampionModal" tabindex="-1" role="dialog" aria-labelledby="attackChampionModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <input class="modal-title" id="attackChampionModalLabel" type="text" ng-model="query">
	      </div>
	      <div class="modal-body user_champion_select">
			<ul>
				<li ng-repeat="champion in champions | filter: query" ng-click="setAttackChampion(champion)" ng-attr-title="{{champion.name}}">
					<img ng-attr-src="{{champion.image_url}}" class="hvr-float" data-dismiss="modal">
				</li>
			</ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Defense Champion Select Modal -->
	<div class="modal fade" id="defendChampionModal" tabindex="-1" role="dialog" aria-labelledby="defendChampionModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <input class="modal-title" id="defendChampionModalLabel" type="text" ng-model="query">
	      </div>
	      <div class="modal-body user_champion_select">
			<ul>
				<li ng-repeat="champion in champions | filter: query" ng-click="setDefendChampion(champion)" ng-attr-title="{{champion.name}}">
					<img ng-attr-src="{{champion.image_url}}" class="hvr-float" data-dismiss="modal">
				</li>
			</ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Item Box -->
	<div id="fullWrap">
		<!-- Attack Side -->
		<div class="attackSide">
			<!-- Champion Select -->
			<div class="championSelect" data-toggle="modal" data-target="#attackChampionModal">
				<img ng-attr-src="{{attackChampion.prfile_image_url}}" ng-if="attackChampion">
			</div>
			<!-- Level Slider -->
			<div class="levelSelector">
				<h4 class="spacer">Level Slider</h4>
			</div>
			<!-- Stat Table -->
			<div class="stats">
				<h4 class="spacer">Attack Stats</h4>
			</div>
		</div>

		<!-- Center -->
		<div class="centerPiece">
			<div id="itemBox"> <!-- Each Item Picture should be 55px -->
				<h4 class="spacer">Items go here (55px per Item box)</h4>
			</div>

			<div id="inventories">
				<div id="attackInventory">
					<h4 class="spacer">Attack Inventory</h4>
				</div>
				<div id="defenseInventory">
					<h4 class="spacer">Defense Inventory</h4>
				</div>
			</div>
		</div>

		<!-- Defense Side -->
		<div class="defenseSide" >
			<!-- Champion Select -->
			<div class="championSelect" data-toggle="modal" data-target="#defendChampionModal">
				<img ng-attr-src="{{defendChampion.prfile_image_url}}" ng-if="defendChampion">
			</div>
			<!-- Level Slider -->
			<div class="levelSelector">
				<h4 class="spacer">Level Slider</h4>
			</div>
			<!-- Stat Table -->
			<div class="stats">
				<h4 class="spacer">Attack Stats</h4>
			</div>
		</div>
	</div>
</div>